<h1><%= @user.name %> Followings</h1>

<% if @followings.empty? %>
    <p class="none">Not have any following users yet.</p>
<% else %>
    <% @followings.each do |user| %>
        <div class="user"><%= link_to user.name, user_url(user.id) %></div>
    <% end %>
<% end %>