<div class="user-information">
  <span class="user-name"><%= @user.name %></span>
  <% if @user == current_user %>
      <div class="edit-profile-button"><%= link_to "Edit profile", edit_profile_url %></div>
  <% end %>
</div>